<launch>
  <!-- SYSTEM GLOBAL PLANNER -->
    <arg name="system_global_planner_include" default="$(dirname)/../launch/include/system_global_planner.launch" />
    <include file="$(arg system_global_planner_include)">
    </include>

  <!-- 1st MoveBase -->
    <group ns="first_robot">
      <arg name="move_base_include" default="$(dirname)/../launch/include/move_base.launch" />
      <include file="$(arg move_base_include)">
        <!-- 1st -->
        <arg name="global_frame_id" value="map" />
        <arg name="odom_frame_id" value="first_robot_odom" />
        <arg name="base_frame_id" value="first_robot_base_footprint" />
        <arg name="odom_topic" value="/first_robot/odom" />
        <arg name="cmd_vel_topic" value="/first_robot/cmd_vel" />
        <arg name="robot_param_source" value="first_robot_param"/>
        <arg name="own_frame_name" value="first_robot_base_footprint"/>
        <arg name="partner_frame_name" value="second_robot_base_footprint"/>
      </include>
    </group>

  <!-- 2nd MoveBase -->
    <group ns="second_robot">
      <arg name="move_base_include" default="$(dirname)/../launch/include/move_base.launch" />
      <include file="$(arg move_base_include)">
        <!-- 1st -->
        <arg name="global_frame_id" value="map" />
        <arg name="odom_frame_id" value="second_robot_odom" />
        <arg name="base_frame_id" value="second_robot_base_footprint" />
        <arg name="odom_topic" value="/second_robot/odom" />
        <arg name="cmd_vel_topic" value="/second_robot/cmd_vel" />
        <arg name="robot_param_source" value="second_robot_param"/>
        <arg name="own_frame_name" value="second_robot_base_footprint"/>
        <arg name="partner_frame_name" value="first_robot_base_footprint"/>
      </include>
    </group>

  <!-- RVIZ -->
    <arg name="open_rviz" default="true" />
    <node if="$(arg open_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(dirname)/../rviz/collaborative.rviz" output="screen" />
  
</launch>
